{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        clojupyter/clojupyter {:git/url "git@github.com:Provisdom/clojupyter.git"
                               :sha "47dd794fd435de71369fb1ddae8c7e56d30aa85f"}
        metosin/scjsv {:mvn/version "0.4.1"}}}