{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        clojupyter/clojupyter {:git/url "git@github.com:Provisdom/clojupyter.git"
                               :sha "e1d42ced718ac8bf710034455133925c16d02b3e"}
        metosin/scjsv {:mvn/version "0.4.1"}}}