{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        clojupyter/clojupyter {:git/url "git@github.com:Provisdom/clojupyter.git"
                               :sha "54e3d3d6ae7772fd651f43915a65b3d518a0e4ab"}
        metosin/scjsv {:mvn/version "0.4.1"}}}